.sconf_temp
.sconsign.dblite
config.log
documents/doxygen
.*.swp
*~
,*
moc_*
Makefile
*.pyc
*.o
*.os
*.lo
.deps
*.rational
*.errorplot
*.gnuplot
oprofile_data
*.so.*
*.so
*.la
*.a
*.dylib
external/build
external/Ipopt-*
external/ceres-solver-*
external/eigen-*
external/glog-*
external/nlopt-*
/sources/build/brdf2brdf
/sources/build/brdf2data
/sources/build/brdf2gnuplot
/sources/build/brdf2moments
/sources/build/data2brdf
/sources/build/data2data
