import os, sys

##----------------------------------------------------------------##
## This file describes required and optional arguments to ALTA    ##
## compilation. If you want to manualy tune the use of an already ##
## present library, uncomment the according lines.                ##
##----------------------------------------------------------------##


## Compilators build flags
##
CC             = 'g++'
CC_FLAGS       = ['-O3', '-Wall']


## OpenMP flags
##
#OPENMP_FLAGS  = ['-fopenmp']
#OPENMP_LIB    = ['gomp']


## OpenEXR library
##
#OPENEXR_INC    = ['/usr/include/OpenEXR']
#OPENEXR_DIR    = ['/usr/lib']
#OPENEXR_LIB    = ['Half', 'IlmImf', 'IlmThread']


## CERES library
##
## You have to specify both the directory of the CERES library
## and the glog library
##
CERES_INC      = ['#external/build/include']
CERES_DIR      = ['#external/build/lib']
CERES_LIBS     = ['ceres', 'glog']
CERES_OPT_LIBS = ['gomp', 'lapack', 'blas']
